.wrap {
  width: 100%;
  & > a {
    padding: 2rem;
    text-align: left;
    border-radius: 1.2rem;
    background-color: var(--colorBg5);
    transition: all 0.2s ease;
    border-color: var(--colorBg1);
    &:hover {
      background-color: var(--colorBg10);
    }
  }

  .title {
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
    color: var(--colorFg1);
  }

  .date {
    font-size: 1.4rem;
    text-align: right;
    color: var(--colorFg24);
  }
}
