.wrap {
  width: 100%;
  padding: 2rem;
  margin-bottom: 2rem;
  text-align: left;
  border-radius: 1.2rem;
  background-color: var(--colorFg43);
  transition: all 0.2s ease;
  &:hover {
    border-color: var(--colorBg12);
  }
  .title {
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
    color: var(--colorFg1);
  }

  .date {
    font-size: 1.4rem;
    text-align: right;
    color: var(--colorFg24);
  }
}
