.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .box {
    position: relative;
    width: 100%;

    .text_1 {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -17rem);
      width: 100%;
      font-size: 17rem;
      font-weight: 800;
      letter-spacing: -0.5rem;
    }

    .text_2 {
      position: relative;
      z-index: 1;
      font-size: 4.6rem;
      color: var(--colorFg43);
    }
  }

  p {
    margin-top: 4rem;
    font-size: 2.4rem;
    color: var(--colorFg43);
  }

  .copyright {
    position: absolute;
    bottom: 5rem;
    margin-top: 4rem;
    font-size: 1.4rem;
    color: var(--colorFg43);
  }
}
