.wrap {
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 1;
  padding: 1rem 2rem;
  background-color: var(--colorBg3);
  border-radius: 2rem;

  a {
    font-family: 'KakaoBig';
    font-size: 3.2rem;
    color: var(--colorFg23);
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      color: var(--colorFg35);
    }

    &.active,
    &[class='active'] {
      color: var(--colorFg1);
      font-weight: 800;
    }
  }
}
