@use '@/styles/mixins' as *;

.section {
  & > .title {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--adaptiveGrey800);
  }
}
.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
  li {
    padding: 40px 30px;
    margin-bottom: 5px;
    background-color: var(--adaptiveGreyOpacity50);
    border-radius: 8px;
    &:hover {
      background-color: var(--adaptiveGreyOpacity100);
    }
    .title {
      color: var(--adaptiveGrey800);
      @include text-ellipsis-multiple(1);
    }
    .summary {
      margin-top: 20px;
      color: var(--adaptiveGrey600);
      @include text-ellipsis-multiple(2);
    }
  }
}

.tag {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 6px;
  margin-top: 10px;
  span {
    padding: 4px 8px;
    background-color: var(--adaptiveGreyOpacity100);
    border-radius: 4px;
    font-size: 14px;
    color: var(--adaptiveGreyOpacity700);
  }
}
