@use '@/assets/styles/mixins' as *;

.wrap {
  padding: 100px 20px;
  h2 {
    margin-bottom: 40px;
    font-size: 38px;
  }
  .inner {
    padding-left: 400px;
  }
  .list {
    .item {
      width: 400px;
      padding: 40px 30px;
      background-color: var(--colorBg7);
      border-radius: 12px;
      transition: background-color 0.3s ease;
      text-align: left;
    }
    .title {
      font-family: 'KakaoBig';
      font-size: 24px;
      @include text-ellipsis-multiple(1);
    }
    .summary {
      margin-top: 40px;
      @include text-ellipsis-multiple(2);
    }
    .endDate {
      margin-top: 15px;
      text-align: right;
      font-size: 14px;
    }
    .tags {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      overflow: hidden;
      gap: 5px 15px;
      width: 100%;
      height: 50px;
      margin-top: 20px;
      .tag {
        font-size: 14px;
      }
      .more {
        font-size: 14px;
      }
    }
  }
}
.swiperContainer {
  position: relative;
  overflow: hidden;
  .navButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    border: 1px solid var(--colorFg43);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: var(--colorBg8);
    }
    &.hide {
      display: none;
    }
  }
  .prevButton {
    left: 0;
  }
  .nextButton {
    right: 0;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 200px;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &::before {
    left: 0;
    background: linear-gradient(
      to right,
      rgba(17, 17, 17, 1) 0%,
      rgba(17, 17, 17, 0) 100%
    );
  }

  &::after {
    right: 0;
    background: linear-gradient(
      to left,
      rgba(17, 17, 17, 1) 0%,
      rgba(17, 17, 17, 0) 100%
    );
  }

  &.hideBefore::before {
    opacity: 0;
  }

  &.hideAfter::after {
    opacity: 0;
  }
}

.notionWrap {
  display: flex;
  background-color: var(--colorBg1);
  color: var(--colorFg1);
  [class='notion-header'] {
    display: none;
  }
  [class*='notion-page'] {
    width: 100%;
    margin: 0 !important;
    padding: 0;
  }
  [class='notion-title'] {
    display: none;
  }
  [class='notion-collection-page-properties'] {
    display: none;
  }
  [class*='notion-h1'] {
    font-size: 28px;
  }
  [class*='notion-h3'] {
    font-size: 22px;
  }
}
