@use '@/assets/styles/mixins' as *;

.wrap {
  padding: 100px 20px;
  background-color: var(--colorBg3);
  h2 {
    margin-bottom: 40px;
    font-size: 38px;
  }
  .inner {
    max-width: 1200px;
    margin: 0 auto;
  }
}
.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  // display: flex;
  // flex-direction: column;
  gap: 40px;
  list-style: none;
  padding: 0;
  li {
    button {
      padding: 40px 30px;
      background-color: var(--colorFg43);
      border-radius: 12px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: var(--colorFg44);
      }
    }
    .title {
      font-family: 'KakaoBig';
      font-size: 24px;
      font-weight: 800;
      @include text-ellipsis-multiple(1);
    }
    .summary {
      margin-top: 15px;
      @include text-ellipsis-multiple(4);
    }
    .tags {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      overflow: hidden;
      margin-top: 50px;
      .tag {
        font-size: 14px;
        color: var(--colorFg45);
        & + span {
          margin-left: 10px;
        }
      }
    }
  }
}
.notionWrap {
  display: flex;
  background-color: var(--colorBg1);
  color: var(--colorFg1);
  [class='notion-header'] {
    display: none;
  }
  [class='notion-page'] {
    display: none;
  }
  [class='notion-title'] {
    display: none;
  }
  [class='notion-collection-page-properties'] {
    display: none;
  }
  [class*='notion-list-disc'] {
    padding-left: 0;
  }
}
