@use '@/assets/styles/mixins' as *;

.wrap {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
  padding: 2rem;
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;
      background-color: var(--colorBg11);
      color: var(--colorFg34);
      border-radius: 50%;
    }
  }
  .title {
    @include sr-only();
  }
  .arrowUpIcon {
    cursor: pointer;
  }
}
