.overlay {
  position: fixed;
  inset: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.56);
}

.dialog {
  position: fixed;
  inset: 0;
  z-index: 11;
  overflow-y: auto;
  pointer-events: none !important;

  .inner {
    position: relative;
    margin: 4rem auto;
    width: 90vw;
    max-width: 86rem;
    min-height: 50rem;
    border-radius: 2.8rem;
    background-color: var(--colorBg1);
    padding: 4rem 6rem;
    pointer-events: auto;
  }
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  pointer-events: auto;
  font-size: 2rem;
  color: var(--colorFg8);
  background-color: var(--colorBg24);
  border-radius: 50%;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--colorBg12);
  }
}
