.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.56);
  animation: fadeIn 0.3s ease;
}

.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  overflow-y: auto;
  pointer-events: none !important;

  .inner {
    position: relative;
    margin: 40px auto;
    width: 90vw;
    max-width: 860px;
    min-height: 500px;
    border-radius: 28px;
    background-color: var(--colorBg1);
    overflow: hidden;
    padding: 24px;
    pointer-events: auto;
    animation: slideUp 0.3s ease;
  }
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: var(--colorFg21);
  cursor: pointer;
  pointer-events: auto;
  background-color: var(--colorFg35);
  border-radius: 50%;
  &:hover {
    color: var(--colorFg22);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    margin-top: 80px;
  }
  to {
    opacity: 1;
    margin-top: 40px;
  }
}
