:root {
  --background-image: url('/front_bg.jpg');
  --baseBackground: #000;
  --baseBackground1: rgba(0, 0, 0, 0.9);
  --baseBackground2: rgba(0, 0, 0, 0.8);
  --baseForeground: #fff;
  --colorBg1: #333;
  --colorBg2: #222224;
  --colorBg3: #111;
  --colorBg4: #fff;
  --colorBg5: #444;
  --colorBg6: #333;
  --colorBg7: #222224;
  --colorBg8: #111;
  --colorBg9: #444;
  --colorBg10: #222224;
  --colorBg11: #fff;
  --colorBg12: #dfdfdf;
  --colorBg13: #444;
  --colorBg14: #eee;
  --colorBg15: #333;
  --colorBg16: #eee;
  --colorBg17: #666;
  --colorBg18: #141414;
  --colorBg19: #333;
  --colorBg20: #333;
  --colorBg21: #222;
  --colorBg22: #333;
  --colorBg23: #444;
  --colorBg24: #fff;
  --colorFg1: #fff;
  --colorFg2: #f3f3f3;
  --colorFg3: #f3f3f3;
  --colorFg4: #fafafa;
  --colorFg5: #999;
  --colorFg6: #a8a8a8;
  --colorFg7: #a8a8a8;
  --colorFg8: #333;
  --colorFg9: #ddd;
  --colorFg10: #fafafa;
  --colorFg11: #ebebeb;
  --colorFg12: #fff;
  --colorFg13: #fafafa;
  --colorFg14: #fff;
  --colorFg15: #888;
  --colorFg16: #333;
  --colorFg17: #111;
  --colorFg18: #888;
  --colorFg19: #444;
  --colorFg20: #666;
  --colorFg21: #333;
  --colorFg22: #333;
  --colorFg23: #666;
  --colorFg24: #999;
  --colorFg25: #777;
  --colorFg26: #bbb;
  --colorFg27: #a8a8a8;
  --colorFg28: #a8a8a8;
  --colorFg29: #a8a8a8;
  --colorFg30: #333;
  --colorFg31: #888;
  --colorFg32: #999;
  --colorFg33: #444;
  --colorFg34: #222224;
  --colorFg35: #999;
  --colorFg36: #fff;
  --colorFg37: #eee;
  --colorFg38: #dfdfdf;
  --colorFg39: #111;
  --colorFg40: #a8a8a8;
  --colorFg41: #222;
  --colorFg42: #333;
  --colorFg43: #333;
  --colorFg44: #444;
  --colorFg45: #eee;
  --colorFg46: #999;
  --colorFg47: #fff;
  --colorFg48: #4968b0;
  --colorFg49: #265337;
  --colorFg50: #963c3c;
  --colorFg51: #aaa;
  --colorFg52: #aaa;
  --colorFg53: #fff;
  --colorFg54: #333;
  --colorFg55: #999;
  --colorFg56: #000;
  --colorFg57: #a8a8a8;
  --colorFg58: #fae100;
  --colorFg59: #000;
  --colorFg60: #666;
  --colorFg61: #ffcd00;
  --colorFg62: #489ff8;
  --colorFg63: #252525;
  --colorFg64: #252525;
  --colorFg65: #b2b2b2;
  --colorFg66: #595959;
  --colorFg67: #3c3c3c;
  --colorFg68: #fff;
  --colorFg69: #a3a3a3;
  --colorFg70: #595959;
}

[data-theme='light'] {
  --background-image: url('/front_bg_black.jpg');
  --baseBackground: #fff;
  --baseBackground1: rgba(255, 255, 255, 0.9);
  --baseBackground2: rgba(255, 255, 255, 0.8);
  --baseForeground: #000;
  --colorBg1: #eee;
  --colorBg2: #eee;
  --colorBg3: #fff;
  --colorBg4: #111;
  --colorBg5: #eee;
  --colorBg6: #f4f4f4;
  --colorBg7: #f7f7f7;
  --colorBg8: #fcfcfc;
  --colorBg9: #333;
  --colorBg10: #fff;
  --colorBg11: #1a1a1a;
  --colorBg12: #444;
  --colorBg13: #dfdfdf;
  --colorBg14: #333;
  --colorBg15: #000;
  --colorBg16: #000;
  --colorBg17: #000;
  --colorBg18: #f7f7f7;
  --colorBg19: #d5d5d5;
  --colorBg20: #fff;
  --colorBg21: #f7f7f7;
  --colorBg22: #f3f3f3;
  --colorBg23: #fff;
  --colorBg24: #333;
  --colorFg1: #333;
  --colorFg2: #111;
  --colorFg3: #000;
  --colorFg4: #000;
  --colorFg5: #666;
  --colorFg6: #666;
  --colorFg7: #333;
  --colorFg8: #ededed;
  --colorFg9: #333;
  --colorFg10: #333;
  --colorFg11: #666;
  --colorFg12: #666;
  --colorFg13: #888;
  --colorFg14: #888;
  --colorFg15: #bbb;
  --colorFg16: #e6e6e6;
  --colorFg17: #ebebeb;
  --colorFg18: #666;
  --colorFg19: #ededed;
  --colorFg20: #d8d8d8;
  --colorFg21: #fff;
  --colorFg22: #d8d8d8;
  --colorFg23: #888;
  --colorFg24: #666;
  --colorFg25: #666;
  --colorFg26: #333;
  --colorFg27: #666;
  --colorFg28: #333;
  --colorFg29: #000;
  --colorFg30: #ebebeb;
  --colorFg31: #666;
  --colorFg32: #333;
  --colorFg33: #e0e0e0;
  --colorFg34: #f7f7f7;
  --colorFg35: #666;
  --colorFg36: #333;
  --colorFg37: #000;
  --colorFg38: #434443;
  --colorFg39: #000;
  --colorFg40: #666;
  --colorFg41: #d2d2d2;
  --colorFg42: #d2d2d2;
  --colorFg43: #f3f3f3;
  --colorFg44: #fff;
  --colorFg45: #666;
  --colorFg46: #888;
  --colorFg47: #666;
  --colorFg48: #cfe9ff;
  --colorFg49: #d4ffd4;
  --colorFg50: #ffe9e9;
  --colorFg51: #666;
  --colorFg52: #000;
  --colorFg53: #000;
  --colorFg54: #f7f7f7;
  --colorFg55: #000;
  --colorFg56: #fae100;
  --colorFg57: #888;
  --colorFg58: #104adf;
  --colorFg59: #eee;
  --colorFg60: #333;
  --colorFg61: #000;
  --colorFg62: #2439df;
  --colorFg63: #e1e1e1;
  --colorFg64: #f8f8f8;
  --colorFg65: #606060;
  --colorFg66: #dbdbdb;
  --colorFg67: #dcdcdc;
  --colorFg68: #191919;
  --colorFg69: #7a7a7a;
  --colorFg70: #c4c4c4;
}

[data-theme='dark'] {
  --background-image: url('/front_bg.jpg');
  --baseBackground: #000;
  --baseBackground1: rgba(0, 0, 0, 0.9);
  --baseBackground2: rgba(0, 0, 0, 0.8);
  --baseForeground: #fff;
  --colorBg1: #333;
  --colorBg2: #222224;
  --colorBg3: #111;
  --colorBg4: #fff;
  --colorBg5: #444;
  --colorBg6: #333;
  --colorBg7: #222224;
  --colorBg8: #111;
  --colorBg9: #444;
  --colorBg10: #222224;
  --colorBg11: #fff;
  --colorBg12: #dfdfdf;
  --colorBg13: #444;
  --colorBg14: #eee;
  --colorBg15: #333;
  --colorBg16: #eee;
  --colorBg17: #666;
  --colorBg18: #141414;
  --colorBg19: #333;
  --colorBg20: #333;
  --colorBg21: #222;
  --colorBg22: #333;
  --colorBg23: #444;
  --colorBg24: #fff;
  --colorFg1: #fff;
  --colorFg2: #f3f3f3;
  --colorFg3: #f3f3f3;
  --colorFg4: #fafafa;
  --colorFg5: #999;
  --colorFg6: #a8a8a8;
  --colorFg7: #a8a8a8;
  --colorFg8: #333;
  --colorFg9: #ddd;
  --colorFg10: #fafafa;
  --colorFg11: #ebebeb;
  --colorFg12: #fff;
  --colorFg13: #fafafa;
  --colorFg14: #fff;
  --colorFg15: #888;
  --colorFg16: #333;
  --colorFg17: #111;
  --colorFg18: #888;
  --colorFg19: #444;
  --colorFg20: #666;
  --colorFg21: #333;
  --colorFg22: #333;
  --colorFg23: #666;
  --colorFg24: #999;
  --colorFg25: #777;
  --colorFg26: #bbb;
  --colorFg27: #a8a8a8;
  --colorFg28: #a8a8a8;
  --colorFg29: #a8a8a8;
  --colorFg30: #333;
  --colorFg31: #888;
  --colorFg32: #999;
  --colorFg33: #444;
  --colorFg34: #222224;
  --colorFg35: #999;
  --colorFg36: #fff;
  --colorFg37: #eee;
  --colorFg38: #dfdfdf;
  --colorFg39: #111;
  --colorFg40: #a8a8a8;
  --colorFg41: #222;
  --colorFg42: #333;
  --colorFg43: #333;
  --colorFg44: #444;
  --colorFg45: #eee;
  --colorFg46: #999;
  --colorFg47: #fff;
  --colorFg48: #4968b0;
  --colorFg49: #265337;
  --colorFg50: #963c3c;
  --colorFg51: #aaa;
  --colorFg52: #aaa;
  --colorFg53: #fff;
  --colorFg54: #333;
  --colorFg55: #999;
  --colorFg56: #000;
  --colorFg57: #a8a8a8;
  --colorFg58: #fae100;
  --colorFg59: #000;
  --colorFg60: #666;
  --colorFg61: #ffcd00;
  --colorFg62: #489ff8;
  --colorFg63: #252525;
  --colorFg64: #252525;
  --colorFg65: #b2b2b2;
  --colorFg66: #595959;
  --colorFg67: #3c3c3c;
  --colorFg68: #fff;
  --colorFg69: #a3a3a3;
  --colorFg70: #595959;
}
