@use '@/assets/styles/mixins' as *;

html,
body {
  max-width: 100vw;
}

body {
  background-color: var(--baseBackground);
  color: var(--baseForeground);
  font-family: 'KakaoSmall', 'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  word-break: keep-all;
}

a {
  color: inherit;
  text-decoration: none;
}

.sr-only {
  @include sr-only();
}
