@use '@/assets/styles/mixins' as *;

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

html,
body {
  max-width: 100vw;
}

body {
  background-color: var(--baseBackground);
  color: var(--baseForeground);
  font-family: 'Pretendard', 'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕',
    sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.75;
  word-break: keep-all;
}

button {
  height: 5rem;
  padding: 1.2rem 2rem;
  border-radius: 0.8rem;
  background-color: var(--colorBg1);
  color: var(--colorFg1);
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: var(--colorBg13);
  }
  &:active {
    transform: scale(1.1);
  }
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: top;
}
textarea,
input {
  padding: 1.2rem 1.6rem;
  font-family: 'Pretendard', 'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕',
    sans-serif;
  font-size: 1.6rem;
  background-color: var(--colorBg1);
  color: var(--colorFg1);
  border: none;
  border-radius: 0.8rem;
}

.sr-only {
  @include sr-only();
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

::view-transition-old(root) {
  animation-name: fade-out;
}

::view-transition-new(root) {
  animation-name: fade-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
