:root {
  --font-pretendard: var(--font-pretendard);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--adaptiveBackground);
  color: var(--adaptiveGrey700);
  font-family: var(--font-pretendard);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  word-break: keep-all;
}

a {
  color: inherit;
  text-decoration: none;
}

// 노션
.notion__container {
  .notion-header {
    display: none;
  }
  .notion-title {
    display: none;
  }
  .notion-collection-page-properties {
    display: none;
  }

  .notion-h1:first-child {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 20px 0;
  }
}
